.container{
  margin: 50px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 20px;
  align-items: center;
  padding: 0px;
  text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.658);
}
img{
  border-radius: 20px;
   width: 250px;
  height: 250px;
  
  
}
h3{
  margin-top: 10px;
  margin-bottom: -5px;
}
.head{
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  gap: 40px;
  
  margin-top: 10px;
  padding: 10px;
  
  background-color: #333;
  color: white;
  margin-top: 0px;


}
* {
  margin: 0;
  padding: 0;
  

}
